@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@import "@heroui/styles"; 
*{
  box-sizing: border-box;
}

@theme {
  --color-primary-color: #5F8DF7;
  --color-secondary-color: #3DA3D6;
  --color-tertiary-color: #A78BFA;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.landing-bg {
  background-image: url('assets/images/landing_bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.feature-bg{
  background-image: url('assets/images/feature_bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
